<h1>About us</h1>
<p>DuckTest allows users to apply for jobs creatively. Our users respond to open-ended questions posed by prospective employers to earn job interviews. DuckTest is committed to a new kind of job hunting process - one that doesn't require a standard resume.</p>