<% if !user_signed_in? %>
	<%= render 'pages/home' %>
<% else %>
	<h1>Earn interviews by responding to company questions</h1>
	<b>Company 1:</b>
	<p> What technology poses the largest threat to our business over the next ten years?</p>
	<b>Company 2:</b>
	<p>What is your favorite color?</p>

	<%= link_to 'Submit a response', new_pin_path, class: 'btn btn-default' %>
<% end %>